/**
 * @file
 * Generic styles for the friend table in friend Blog
 */
table.friendTable{
	border-width: 5px;
	border-color: #666666;
	border-collapse: collapse;
}
.friendTable td {
	padding:10px 20px;
}

.friendRequests .flag-friend {
	float:right;
        display:inline-block;
}

.flag-friend-name{
    display:inline-block;
}

.friendTable td ul {
	list-style-type: none;
	padding: 10px 0 0 10px;
}
#more-button{border-style:none;background:none;font:16px Serif;color:blue;margin: 0 0 10px 0;}

#grow input:checked{color:red;}

#more-button:hover{color:black;}

#grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }
